<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <h1>Night Life Coordinator</h1>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="searchbar" placeholder="Search For Bars In Your Area">
    </div>
    <div class="form-group"><button id="search" class="btn btn-lg btn-primary">Search</button></div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous" charset="utf-8"></script>
<script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
